.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header div {
  background: transparent;
  border: none;
  padding: 10px;
  color: inherit;
  cursor: pointer;
  outline: none;
  font-size: 1em;
  display: flex;
  align-items: center;
}
.header div div {
  margin-left: 10px;
}
