.paises {
  padding: 0px 30px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}
.pais {
  margin: 20px;
}

.container.dark input {
  background: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  transition: 0.3s;
}
.container {
  min-height: 100vh;
  height: 100%;
}

.naoEncontrado {
  background: hsl(209, 23%, 22%);
}
.loading .dark {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: white;
}
.loading .light {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(209, 23%, 22%);
  color: white;
}
.loading img {
  width: 200px;
  animation: loading 1s infinite;
}
@keyframes loading {
  to {
    opacity: 0.5;
  }
  from {
    opacity: 1;
  }
}
