.paises {
  padding: 0px 30px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}
.pais {
  margin: 20px;
}

.container.dark input {
  background: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
