* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Nunito', sans-serif;
}
a {
  text-decoration: none;
}
.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}
.light {
  color: hsl(200, 15%, 8%);
  background: hsl(207, 26%, 17%);
}
